# Credentials for Azure OpenAI client
AZURE_OPENAI_KEY=XXX
AZURE_OPENAI_ENDPOINT=XXX
AZURE_EMBEDDING_DEPLOYMENT_NAME=XXX

# Credentials for Azure Cognitive Search
AZURE_SEARCH_ENDPOINT=XXX
AZURE_SEARCH_KEY=XXX
AZURE_SEARCH_INDEX_NAME=XXX